<h1><center> 4. Übung: NumPy und Pandas

<div class="alert alert-warning"><h4> Aufgabe 1: NumPy

In [ ]:
import numpy as np

a) Legen Sie die folgenden NumPy Arrays an:
* -15, -14, -13, ..., -2, -1, 0, 1, 2, ..., 13, 14
* 6, 7, 8, neun, zehn
* True, False, True, False, True, False

Speichern Sie den ersten Vektor in Objekt **a** und den zweiten Vektor in Objekt **b** und den Dritten in Objekt **c** ab.

In [ ]:
a = np.array(np.arange(-15, 15, 1))
print(a)
b = np.array([6, 7, 8, "neun", "zehn"])
print(b)
c = np.array([True, False, True, False, True, False])
print(c)

b) Erklären Sie was die folgenden Ausrücke ergeben und prüfen Sie Ihr Ergebnis: 
  * a + b
  * b + c
  * len(b + c)

In [ ]:
a + b

In [ ]:
a + c

In [ ]:
len(a + c)

c) Weisen Sie dem vierten Element von **a** die Zahl 1000 zu.

In [ ]:
a[3] = 1000
print(a)

d) Geben Sie aus dem Vektor **a** jeweils diejenigen Elemente $a_i$ aus, welche folgende Bedingungen erfüllen: 
* $a_i$ ist kleiner 10
* $a_i$ ist eine negative Zahl
* $a_i$ ist kleiner als Zehn und größer als -10
* $a_i$ ist ein Vielfaches von 3

In [ ]:
a < 10

In [ ]:
a[a < 10]

In [ ]:
a[a < 0]

In [ ]:
[i for i in a if i < 10 and i > -10]

In [ ]:
a%3

In [ ]:
a%3 == 0

In [ ]:
a[a%3 == 0]

<div class="alert alert-warning"><h4> Aufgabe 2: Pandas

In [ ]:
import pandas as pd

a) Erstellen Sie das Series-Objekt **d** mit dem Werten (0, 1, 2, 3) und dem Index (w, x, y, z).

In [ ]:
d = pd.Series([0,1,2,3], index=["w", "x", "y", "z"])
print(d)

b) Indizieren Sie daraus den Wert 2 mit der dot-Notation, mit einem String-Index, mittels `.loc` und `.iloc`.

In [ ]:
print(d.y)
print(d["y"])
print(d.loc["y"])
print(d.iloc[2])

c) Erstellen Sie den Dataframe **e**:

**Titel** | **Jahr** | **Platz**
-----------|---------|-----------
Pulp Fiction | 1994 | 1
Die Verurteilten | 1994 |5
Der Pate | 1972 | 3
Fight Club | 1999 | 2
The Dark Knight | 2008 | 4

In [ ]:
e = pd.DataFrame({
    "Titel":["Pulp Fiction", "Die Verurteilten", "Der Pate", "Fight Club", "The Dark Knight"], 
    "Jahr": [1994, 1994, 1972, 1999, 2008], 
    "Platz": [1, 5, 3, 2, 4]})
e

d) Machen Sie sich einen Überblick über **e** indem Sie sich
* alle Indizes,
* alle Zeilennamen und
* die ersten beiden Zeilen

ausgeben lassen.

In [ ]:
print(e.index)
print(e.columns)
print(e.head(2))

In [ ]:
e.head(2)

e) Sortieren Sie **e**  nach ihrem Platz.

In [ ]:
e.sort_values(by="Platz")

f) Greifen Sie auf folgende Elemente von **e** zu: 
* Spalte Jahr
* Informationen zum Film "Pulp Fiction"
* alle Zeilen mit geradem Index
* Titel und Jahr der drei best Platzierten

In [ ]:
print(e.Jahr)
#print(e["Jahr"])
#print(e.loc[:, "Jahr"])
#print(e.iloc[:,1])

In [ ]:
print(e[0:1])
#print(e.iloc[0])
#print(e.loc[0])

In [ ]:
e[e.index%2 == 0]

In [ ]:
e.loc[e["Platz"] <=3, ["Titel", "Jahr"]]

<div class="alert alert-warning"><h4> Aufgabe 3: Manipulation

a) Importieren Sie den Datensatz `titanic` aus `seaborn` und machen Sie sich einen Überblick über die Daten indem Sie
* i) sich die ersten 4 Zeilen ausgeben lassen. 
* ii) sich die letzten 4 Zeilen ausgeben lassen.
* iii) sich die Indizes ausgeben lassen.
* iv) sich die Spaltennamen ausgeben lassen.
* v) sich eine Tabelle mit wichtigen Lage- und Streuungsmaßen der metrischen Variablen ausgeben lassen.
* vi) sich mit den Datentypen vertraut machen.

In [ ]:
import seaborn as sns
df = sns.load_dataset("titanic")
df

In [ ]:
# i)
df.head(4)

In [ ]:
# ii)
df.tail(4)

In [ ]:
# iii)
df.index

In [ ]:
# iv) 
df.columns

In [ ]:
# v)
df.describe()

In [ ]:
# vi)
df.dtypes

b) Sortieren Sie den Datensatz absteigend nach Alter.

In [ ]:
df.sort_values(by="age", ascending=False)

c) Geben Sie einen Teildatensatz aus, der lediglich Passagiere beinhaltet, die überlebt haben.

In [ ]:
df.loc[df["survived"] == 1]